In [4]:
import pandas as pd
movie_data=pd.read_csv(r"http://bit.ly/imdbratings")
movie_data.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [5]:
movie_data.shape

(979, 6)

In [6]:
movie_data.size

5874

In [11]:
# filter according to conditions
movie_data[(movie_data.duration>200) & (movie_data.genre=='Drama')]

,star_rating,title,content_rating,genre,duration,actors_list
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."

In [23]:
# filter according to conditions
print(movie_data[(movie_data.star_rating>=8.5) & (movie_data.genre=='Crime')].shape)
movie_data[(movie_data.star_rating>=8.5) & (movie_data.genre=='Crime')].head(10)

(10, 6)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
21,8.7,City of God,R,Crime,130,"[u'Alexandre Rodrigues', u'Matheus Nachtergael..."
23,8.7,The Usual Suspects,R,Crime,106,"[u'Kevin Spacey', u'Gabriel Byrne', u'Chazz Pa..."
28,8.6,Leon: The Professional,R,Crime,110,"[u'Jean Reno', u'Gary Oldman', u'Natalie Portm..."
34,8.6,American History X,R,Crime,119,"[u'Edward Norton', u'Edward Furlong', u""Beverl..."
40,8.5,The Green Mile,R,Crime,189,"[u'Tom Hanks', u'Michael Clarke Duncan', u'Dav..."
49,8.5,The Departed,R,Crime,151,"[u'Leonardo DiCaprio', u'Matt Damon', u'Jack N..."

In [27]:
uber_data=pd.read_csv("C:/Users/Bhawesh/Desktop/uber-raw-data-aug14.csv")
print(uber_data.shape)
uber_data.head()

(829275, 4)

          Date/Time      Lat      Lon    Base
0  8/1/2014 0:03:00  40.7366 -73.9906  B02512
1  8/1/2014 0:09:00  40.7260 -73.9918  B02512
2  8/1/2014 0:12:00  40.7209 -74.0507  B02512
3  8/1/2014 0:12:00  40.7387 -73.9856  B02512
4  8/1/2014 0:12:00  40.7323 -74.0077  B02512

In [30]:
type(uber_data['Date/Time'][0])

str

In [32]:
uber_data['Date/Time']=pd.to_datetime(uber_data['Date/Time'])

In [33]:
dt=uber_data['Date/Time'][0]

In [34]:
dt.day_name()

'Friday'

In [35]:
uber_data.head()

            Date/Time      Lat      Lon    Base
0 2014-08-01 00:03:00  40.7366 -73.9906  B02512
1 2014-08-01 00:09:00  40.7260 -73.9918  B02512
2 2014-08-01 00:12:00  40.7209 -74.0507  B02512
3 2014-08-01 00:12:00  40.7387 -73.9856  B02512
4 2014-08-01 00:12:00  40.7323 -74.0077  B02512