In [1]:
print("Hello")

Hello

In [2]:
print("hello")

hello

In [9]:
print("hello")

hello

In [2]:
import mysql.connector
print("Hello")

Hello

In [10]:
#connection with data base
mydb=mysql.connector.connect(host='localhost',user='root',password='Bhaweshiitr@2017',database='db1')
#print(mydb.connection_id)

In [11]:
# creating a database in the 
cur=mydb.cursor()
#cur.execute("CREATE DATABASE db1")
#cur.execute("CREATE DATABASE db2")
s='create table book(bookid integer(4) , title varchar(20),price float(5,2))'
cur.execute(s)

In [12]:
s="insert into book(bookid , title,price) values(%s,%s,%s)"
b1=(1,'python3',345)
cur.execute(s,b1)
mydb.commit()

In [15]:
s="insert into book(bookid , title,price) values(%s,%s,%s)"
books=[(2,'PHP',315),(3,'HTML',300),(4,'SQL',125)]
cur.executemany(s,books)
mydb.commit()

In [16]:
s="insert into book(bookid , title,price) values(5,'PERL',350)"
#b2=(5,'PERL',350)
cur.execute(s)
mydb.commit()

In [20]:
s="select * from book "
cur.execute(s)
result=cur.fetchall()
print(result)
for i in result :
    print(i)

[(1, 'python3', 345.0), (2, 'PHP', 315.0), (3, 'HTML', 300.0), (4, 'SQL', 125.0), (5, 'PERL', 350.0)]
(1, 'python3', 345.0)
(2, 'PHP', 315.0)
(3, 'HTML', 300.0)
(4, 'SQL', 125.0)
(5, 'PERL', 350.0)

In [21]:
s="update book set price=price+10 where price>200"
cur.execute(s)
mydb.commit()

In [22]:
s="select * from book "
cur.execute(s)
result=cur.fetchall()
print(result)
for i in result :
    print(i)

[(1, 'python3', 355.0), (2, 'PHP', 325.0), (3, 'HTML', 310.0), (4, 'SQL', 125.0), (5, 'PERL', 360.0)]
(1, 'python3', 355.0)
(2, 'PHP', 325.0)
(3, 'HTML', 310.0)
(4, 'SQL', 125.0)
(5, 'PERL', 360.0)

In [27]:
s="delete from book where title='PHP' "
cur.execute(s)
mydb.commit()

In [28]:
s="select * from book "
cur.execute(s)
result=cur.fetchall()
print(result)
for i in result :
    print(i)

[(1, 'python3', 355.0), (3, 'HTML', 310.0), (4, 'SQL', 125.0), (5, 'PERL', 360.0)]
(1, 'python3', 355.0)
(3, 'HTML', 310.0)
(4, 'SQL', 125.0)
(5, 'PERL', 360.0)